@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    font-family:'Times New Roman', Times, serif ;
    color: #333;
}

.container{
    margin: 0 auto;
    max-width: 80%;
    min-height: auto;
    
}
.Logo{
    width: 100%;
    height: 100px;
    background-color: rgb(6, 20, 65);
}
.Logo img{
    width: 120px;
    height: 60px;
    padding-left: 45%;
}

.Menu{
    margin-top: -20px;
}

.Menu ul{
    list-style: none;
    background: red;
}

.Menu ul li{
    color: white;
    display: inline-table;
    width: 160px;
    height: 40px;
    line-height: 40px;
}

.Menu ul li a {
    color: white;
    text-decoration: none;
}

.Menu ul span {
    float: right;
}

.header{
    width: 100%;
}
.header img{
    width: 100%;
    height: 340px;
}

.row{
    display: flex;
    flex-direction: row;
    width: 100%;
    min-height: 350px;
}
#box{
    width: 31%;
    min-height: 350px;
    border: 1px solid #333;
    margin: 2%;
    padding: 1%;
    padding-left: 35px;
    float: left;
}
#box img{
    padding-top: 10px;
    width: 90%;
    height: 200px;
}
.footer{
    width: 100%;
    height: 60px;
    text-align: center;
    background-color: rgb(6, 20, 65);
    line-height: 60px;
    color: white;
}